.v-card {
  .v-card__title {
    word-break: initial !important;
  }
  &.flexed {
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    .v-card__text {
      flex: 1 1 auto;
    }
  }
}
