.v-application--is-ltr {
  .v-text-field {
    .v-input__prepend-inner {
      padding-right: 8px !important;
    }
  }
}

.v-application--is-rtl {
  .v-text-field {
    .v-input__prepend-inner {
      padding-left: 8px !important;
    }
  }
}

.v-text-field {
  @each $color in $mainColors {
    &.border-#{$color} {
      fieldset {
        border-color: var(--v-#{$color}-base);
      }
    }
    @each $variant in $variants {
      @for $i from 1 through 5 {
        &.border-#{$color}-#{$variant}-#{$i} {
          fieldset {
            border-color: var(--v-#{$color}-#{$variant}#{$i});
          }
        }
      }
    }
  }
}
